.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  max-width: 400px;
  margin: 40px auto;
}

.qr {
  padding: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #fff;
  background-color: black;
  font-family: Poppins, serif;
  width: 200px;
  align-self: center;
  cursor: pointer;
}
